<head>
  <style>
    .content {
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: blue;
      margin: auto;
      width: 600px;
      height: 723px;
      background: burlywood;
      border-radius: 20px;
      word-break: break-all;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  </style>
  <title></title>
</head>
<body>
<div class="content">
  <div class="title">Привіт, {{ lastName }} {{ firstName }}!</div>
  <br>
    <div class="form-data"> Токен для зміни паролю (для тесту):</div>
    <div>{{ changePasswordToken }}</div>
  <br>
  <div class="form-data"> Для зміни паролю перейди за посиланням: </div>
  <a href="https://your-website.com/change-pass/change-password?token={{ changePasswordToken }}">Змінити пароль</a>
  <br>
  <div class="form-data">Увага! Кількість спроб зміни паролю за добу дорівнює 3.</div>
</div>
</body>

